<!DOCTYPE html>

<html>

<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <nav>
                    <a href="#">Home</a>
                    <a class="nav-link" [routerLink]="['contenido']" routerLinkActive="active">Contenido</a>
                    <a href="#">Acerca de</a>
                </nav>
            </div>
        </div>


        <section class="banner contenedor">
            <div class="banner_title">
                <h2>Bienvenido a mi primera págima web con autenticación por token Dowsan</h2>
                <br>
                <button (click)="salir()">Salir</button>
            </div>
            <div class="banner_img">
                <img src="..\assets\imagen\Marvel.png" alt="190" width="190">
            </div>
        </section>

        <section class="banner contenedor">
            <div class="banner_img">
                <img src="..\assets\imagen\Marvel.png" alt="190" width="190">
            </div>
        </section>

    </header>
</body>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fondo animado</title>
    <link rel="stylesheet" href="home.component.css">

    <meta charset="UTF-8">
    <title>Página web</title>
</head>

</html>